/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}
/* NAvigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;

}
#logo img{
    height: 60px;
    margin: 5px 10px;
   
}

/* NAvigation Bar: List Styling */
#navbar{
    position: absolute;
    top: 0px;
}
#navbar ul{
    display: flex;
    font-family: 'Oswald', sans-serif;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .3;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: rgb(18, 12, 12);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    transition: transform 0.5s;
    
}

#navbar ul li a:hover{
    color: rgb(18, 17, 17);
    background-color: rgb(251, 240, 240);
    transform: translateY(-10px);


    
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 620px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('img/back.jpg') no-repeat center center/cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.89
    ;

}

#home h1{
    color: rgb(9, 206, 237);
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: rgb(16, 1, 1);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;

}

/* utility class */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    
    
}
.h-primary:hover{
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                     0 3px 0 #ccc, 0 4px 0 #ccc,
                     0 5px 0 #ccc, 0 6px 0 #ccc,
                     0 7px 0 #ccc, 0 8px 0 #ccc,
                     0 9px 0 #ccc, 0 10px 0 #ccc,
                     0 11px 0 #ccc, 0 12px 0 #ccc,
                     0 20px 30px rgba(0, 0, 0, 0.5);
}

.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid rgb(249, 248, 247);
    background-color: rgb(24, 22, 18);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s;


}
.btn:hover{
    background-color: aliceblue;
    color: black;
    transform: translateY(-10px);
}
.center{
    text-align: center;
}